<div id="admin_title">
  <h2>Admin Page</h2>
</div>

<div id="categories" class="col-md-6">
  <h3>Categories</h3>
  <hr />
  <h4>Add Category</h4>
  <div id="new_category">
    <%= render partial: 'shared/category_form', locals: {category: Category.new} %>
  </div>
  <hr />
  <h4>Existing Categories</h4>
  <div id="category_list">
    <table class="table table-hover table-condensed table-nonfluid">
      <% Category.all.each do |category| %>
      <tr>
        <td id="<%= category.name %>_category" class="table-pad">
          <span class="pad-right"><%= category.name %></span>
        </td>
        <td>
          <%= link_to('edit', edit_category_path(category))  %>
          <%= link_to('delete', category_path(category), :method => 'delete') %>
        </td>
      </tr>
      <% end %>
    </table>
    <ul>
    </ul>
  </div>
</div>

<div id='images' class="col-md-6">
  <h3>Images</h3>
  <hr />
  <h4>Add Image</h4>
  <div id="new_image">
    <%= render partial: 'shared/image_form', locals: {image: Image.new} %>
  </div>
  <hr />
  <h4>Existing Images</h4>
  <div id="image_list">
    <div class="row">
      <% Image.all.each do |image| %>
        <div id="<%= image.title %>_image" class="col-sm-3 centered">
          <span class="img-title"><%= image.title %></span>
          <div class="thumb-box">
            <%= image_tag image.img.url(:thumb) %>
          </div>
          <%= button_to('delete', image_path(image), :method => 'delete', :class => "btn btn-danger btn-xs inner-btn") %>
        </div>
      <% end %>
    </div>
  </div>
</div>
