<h2 id="banner">Welcome, <%= @user.username %></h2>
<hr />
<h3>Create New Idea</h3>
<div id="new_idea">
  <%= render partial: 'shared/idea_form', locals: {idea: @user.ideas.new,
                                                   user_id: @user.id} %>
</div>
<hr />
<h3>Current Ideas</h3>
<table id="ideas" class="table">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Category</th>
    <th>Images</th>
  </tr>
  <% @user.ideas.each do |idea| %>
    <% unless idea.new_record?  %>
      <tr>
        <td><%= idea.title %></td>
        <td>Description: <%= idea.description %></td>
        <td>Category:  <%= idea.category.name %> </td>
        <td>
        <% idea.images.each do |image| %>
          <%= image_tag image.img.url(:thumb) %>
        <% end %>
        </td>
        <td>
          <%= link_to('edit', edit_idea_path(idea)) %>
          <%= link_to('delete', idea_path(idea), :method => 'delete') %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
