<!DOCTYPE html>
<html>
<head>
  <title>IdeaBoxRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= nav_bar fixed: :top, brand: "Idea Box", responsive: true do %>
  <%= menu_group do %>
    <%= menu_item "Home", root_path %>
    <% if current_user %>
      <%= menu_item "Ideas", user_path(current_user) %>
      <% if current_user.admin? %>
        <%= menu_item "Admin Page", admin_path %>
      <% end %>
    <% end %>
  <% end %>
  <%= menu_group pull: :right do %>
    <% if current_user %>
      <%= menu_item "Log Out", logout_path, method: :destroy %>
    <% else %>
      <%= form_for :session, url: login_path, :html => {class: "navbar-form pull-right"} do |f| -%>
      <%= f.text_field     :username, :placeholder => "Username" %>
      <%= f.password_field :password, :placeholder => "Password" %>
      <%= f.submit "Sign in" %>
    <% end %>
  <% end %>
  <% end %>
<% end %>

<div class="container main-content">
  <%= flash_messages %>

  <%= yield %>
</div>
</body>
</html>
